{namespace examples.simple}
/**
 * Says hello to the world.
 * @param number The number of items in database
 */
{template .helloWorld}
<h1>Hello World. There are {$number} in the database.</h1>
<br>
<a href="/new">Create another one</a>
{/template}

